﻿body {
    font-family: Arial;
}

.tab-content {
    margin: 12px;
}
.bhpHeader {
    background-color: #234483;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    min-height: 40px;
    border-bottom: 1px solid black;
    padding: 7px;
    font-weight: bold;
    font-size: 27px;
}