﻿<!DOCTYPE html>
<html>
<head>
    <title>BHP Test</title>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.material.mobile.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.common-material.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.3.1017/js/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.3.1017/js/kendo.all.min.js"></script>
    <script src="../../Scripts/angular.js"></script>
    <script src="../../Scripts/bootstrap.min.js"></script>
    <script src="../Controller/AnimalController.js"></script>
    <script src="../Controller/DurationController.js"></script>
    <script src="../Controller/PrimeNumberController.js"></script>
    <link href="../Content/bootstrap.min.CSS" rel="stylesheet" />
    <link href="../Content/home.CSS" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body ng-app="BHPTestNgApp">
    <div class="bhpHeader">BHP TEST</div>
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#divDuration">Time Duration in Words</a></li>
            <li><a data-toggle="tab" href="#divPrime">Generate Prime</a></li>
            <li><a data-toggle="tab" href="#divAnimals">Search Animal</a></li>
        </ul>

        <div class="tab-content">
            <div id="divDuration" class="tab-pane fade  in active">
                <div class="row rowsection" ng-controller="DurationController">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="duration" ng-model="duration" placeholder="Enter duration in hh:mm format" name="text"><br />
                        </div>
                        <div class="col-md-6">
                            <button type="submit" ng-disabled="duration.trim().length === 0||duration==undefined" ng-click="GetDurationInWordFormat(duration)" class="btn btn-default btn-primary btn-sm">Get Duration In Words</button><br />
                        </div>
                    </div>
                    <div class="col-md-12" ng-show="durationInwords != null">
                        <b>Output =  </b>
                        <span>{{durationInwords}}</span>
                    </div>

                </div>
            </div>
            <div id="divPrime" class="tab-pane fade">
                <div class="row rowsection" id="divPrime" ng-controller="PrimeNumberController">
                    <div class="col-md-12">
                        <button type="submit" ng-click="GetNextPrimeNumber()" class="btn btn-default btn-primary btn-sm">Generate next prime number</button><br />
                        <br />
                        <div ng-show="primeNumber != null">
                            <b>Output =  </b>
                            <span>{{primeNumber}}</span>

                        </div>
                    </div>
                </div>
            </div>
            <div id="divAnimals" class="tab-pane fade">
                <div class="row rowsection" id="divAnimals" ng-controller="AnimalController">
                    <div class="col-md-12">

                        <div class="row">
                            <div class="col-md-3">
                                <label class="lblInputs">Common name starts with:</label>
                                <input type="text" ng-model="commonName" class="form-control" placeholder="Enter common name" name="email">
                            </div>
                            <div class="col-md-3">
                                <label class="lblInputs">Class name starts with:</label>
                                <input type="text" ng-model="className" class="form-control" placeholder="Enter class name" name="email">
                            </div>
                            <div class="col-md-3">
                                <label class="lblInputs">Scientific name starts with:</label>
                                <input type="text" ng-model="scientificName" class="form-control" placeholder="Enter scientific name" name="email">
                            </div>
                            <div class="col-md-3">
                                <label class="lblInputs">Habitat:</label>
                                <input type="text" ng-model="habitat" class="form-control" placeholder="Enter habitat name" name="email">
                            </div>
                        </div>
                        <br />
                        <div class="row ">
                            <div class="col-md-12">
                                <button ng-click="FindBySpecificationRequest()" type="submit" class="btn btn-primary btn-sm">Search</button>
                            </div>
                        </div>
                        <br />
                        <div class="row row-grid">
                            <div class="col-md-12">
                                <kendo-grid options="gridAnimals" k-rebind="gridAnimals">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>